
.h4negra{
	color:black;
}
.menu{
	padding-left: 0px;
	padding-right: 0px;
}
.colora{
	background-color:#3CB371; 
	background: #3CB371;
}
a{
	color:black;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
	background-color: 	#3CB371;
}

.grid-view table.items th{
	color: white;
	background:#3CB371;
	text-align: center;
}

.grid-view table.items tr.odd
{
	background:#90EE90;
}

.panel-creup{
	background-color: #3CB371;
}
.panel-default > .panel-heading{
	background-color: #3CB371;
}

h2{
	color:white;
}

h4{
	color:white;
}

.headercolor{
	background:#66CC99;

}

.bodycolor{
	background: #2E8B57;
}